16 Feb Assignment-15

Only Answers are Written:---

Ans:1

Database is an organized collection of structured information or data, typically stored electronically in a computer system. It is usually controlled by a Database Management System.

SQL database is the type of Relational Databse Management System that stores data in the form of tables composed of rows and columns. It uses Structured Query Language (SQL) to define and manipulate data. It has predefined schemas that required data to follow the same structure.

NoSQL database is the type of Non-Relational Database Management System that stores data in various formates, such as Documents, Key-Value pairs, Graphs etc. It uses Syntaxes and Languages depends upon the type of database. It has dynamic schemas that allow data to have different structures.

Ans:2

CREATE, DROP, ALTER, and TRUNCATE are DDL (Data Definition Language) commands in SQL that are used to create, delete, modify, or remove database objects.

CREATE:- This command is used to create a new table in SQL.

for Eg.:- CREATE TABLE table_name (column1 datatype, column2 datatype, column3 datatype);

DROP:- This command is used to remove an existing table from SQL.

for Eg.:- DROP TABLE table_name;

ALTER:- This command is used to add, delete, or change columns in an existing table.

for Eg.:- ALTER TABLE table_name ADD column_name datatype;

TRUNCATE:- This command is used to remove all rows from a table, but the structure of the table still exists.

for Eg.:- TRUNCATE TABLE table_name;

Ans:3

INSERT, UPDATE, and DELETE are DML (Data Manipulation Language) commands in SQL that are used to insert, modify, or remove data from database tables.

INSERT:- This command is used to insert data into a table.

for Eg.:- INSERT INTO table_name (column1, column2, column3) VALUES (value1, value2, value3);

UPDATE:- This command is used to update existing data within a table.

for Eg.:- UPDATE table_name SET column1 = value1, column2 = value2 WHERE condition;

DELETE:- This command is used to delete records from a database table.

for Eg.:- DELETE FROM table_name WHERE condition;

Ans:4

SELECT is a DQL (Data Query Language) command in SQL that is used to retrieve data from the database. It can be used to select specific columns, rows from a table.

SELECT:- This command is used to retrieve all the columns and rows from a table.

for eg.:- SELECT * FROM table_name;

SELECT with WHERE:- This command is used to retrieve specific rows that match a condition.

for eg.:- SELECT column1, column2 FROM table_name WHERE condition;

SELECT with GROUP BY:- This command is used to group the rows by a column and apply an aggregate function.

for eg.:- SELECT column1, column2, etc FROM table_name GROUP BY column1;

SELECT with ORDER BY:- This command is used to sort the rows by a column in ascending or descending order.

for eg.:- SELECT column1, column2, etc FROM table_name ORDER BY column1 ASC, column2 DESC;

Ans:5

Primary Key:---

The table with the primary key is called the referenced or parent table.

It ensures that each row in a table has a unique identity and prevents duplicate values.

It does not allow null values.

It is a combination of a NOT NULL and UNIQUE constraints. Uniquely identifies each row in a table.



Foreign Key:---

The table with the foreign key is called the child table.

It ensures that the values in a column match the values in the primary key column of the referenced table.

It can allow null values if the column is not defined as NOT NULL.

It prevents actions that would destroy links between tables.

Ans:6

#Step:-1
pip mysql-connector-python


#Step:-2
import mysql.connector

#create a connection object

CO = mysql.connector.connect(
    
    host = "localhost",
    user = "abc",
    password = "password"
)

print(CO)

#connection is established





cursor() method:---

It is used to create a cursor object that can execute SQL statements and interact with the MySQL database.

The cursor object is created from a connection object that represents the connection to the database.



execute() method:---

It is used to execute a SQL statement using the cursor object.

A cursor object has various methods, such as execute(), executemany(), fetchone(), fetchall(), fetchmany(), etc.

The execute() method takes a SQL query as a parameter and optionally a list or dictionary of parameters to bind to the query.

The execute() method returns None and stores the result set in the cursor object.

Ans:7

If our query includes sub-queries or Common Table Expressions (CTE), bear in mind that these will always be executed first before any action takes place on the main query. Nonetheless, the execution order of clauses within a CTE or subquery remains unchanged.

Here is the order of execution of SQL clauses in an SQL query:---
   
FROM (including joins: INNER JOIN, LEFT JOIN, RIGHT JOIN, OUTER JOIN, CROSS JOIN, etc.)

WHERE

GROUP BY

HAVING

SELECT

ORDER BY

LIMIT