23 Feb Assignment 22

Both Questions and Answers are written:---

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [8]:
# Ans: 

import pandas as pd

data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
# Ans:

import pandas as pd

variable = [1,2,3,4,5,6,7,8,9,0]

series = pd.Series(variable)

print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [9]:
# Ans:

import pandas as pd

data = {
"Name":["Alice", "Bob", "Claire"],
"Age": [25, 30, 27],
"Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans: The DataFrame is a 2D data structure in pandas that can store data of different types in columns, like 2D array, or a table with rows and columns. 

Whereas Series is a 1D data structure in pandas that can store homogeneous data of the same type in an array-like object.

In [17]:
# Example:---

# DataFrame:-
data = ["Alice", "Bob", "Claire"]
df = pd.DataFrame(data)
print("DataFrame:-\n", df)

# Series:-
data = ["Alice", "Bob", "Claire"]
s = pd.Series(data)
print("\n\nSeries:-\n", s)

DataFrame:-
         0
0   Alice
1     Bob
2  Claire


Series:-
 0     Alice
1       Bob
2    Claire
dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans: Here are some commonly used functions:---

head():- This function allows us to view the first five rows of a DataFrame.

tail():- Similar to head(), tail() allows us to view the last five rows of a DataFrame.

info():- This function provides a summary of the DataFrame, including the number of non-null values in each column and the data types of the columns.

describe():- This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, and maximum values.

shape():- This function returns the dimensions of the DataFrame as a tuple, representing the number of rows and columns.

dropna():- This function is used to remove rows or columns with missing values (NaN) from the DataFrame.

fillna():- This function allows us to replace empty cells with a value in the DataFrame.

sort_values():- This function allows us to sort the DataFrame by one or more columns in either ascending or descending order.

groupby():- This function is used to group the data based on one or more columns, allowing us to perform aggregate operations on the grouped data.

merge():- This function is used to combine two or more DataFrames based on a common column.

pivot_table(): This function creates a spreadsheet-style pivot table based on the DataFrame, allowing us to summarize and analyze the data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: Series and DataFrame are mutable in nature, which means that we can modify their values after they have been created.

Panel is an immutable data structure in pandas, which means that its values cannot be changed once it is created.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [3]:
# Ans:

import pandas as pd

s1 = pd.Series(["DSA", "DSM", "WebDev", "Statistics"], name= "Courses")
s2 = pd.Series([3500, 3500, 3500, "free"], name= "Fees")
s3 = pd.Series(["9month", "9month", "9month", "9month"], name= "Duration")

df = pd.concat([s1, s2, s3], axis = 1)
               
print(df)


# we've created three Series: s1, s2, s3.
# then, we've used the pd.concat() function to combine these Series into a DataFrame.
# then, we take axis=1 parameter to specifies that the Series should be merged as columns instead of rows.

      Courses  Fees Duration
0         DSA  3500   9month
1         DSM  3500   9month
2      WebDev  3500   9month
3  Statistics  free   9month