24 Feb Assignment 23

Both Questions and Answers are written:---

Q1. List any five functions of the pandas library with execution.

Ans: 

1- read_csv():- This function is used to load data from a CSV file into a pandas DataFrame. For example, we can execute the following code to read a CSV file named data.csv:-

example:- 

import pandas as pd

df = pd.read_csv('data.csv')

2- head():- This function allows us to view the first five rows of a DataFrame. We can execute the following code to see the first three rows of a DataFrame df:-

example:-

df = pd.read_csv('data.csv')

print(df.head(3))

3- describe(): This function generates descriptive statistics of a DataFrame, such as count, mean, standard deviation, minimum, and maximum values. We can execute the following code to get the summary statistics of a DataFrame df:-

example:-

df = pd.read_csv('data.csv')

print(df.describe())

4- groupby(): This function is used to group data based on one or more columns, allowing us to perform aggregate operations on the grouped data. We can execute the following code to group a DataFrame df by the ‘A’ column and calculate the average of the ‘B’ column for each category:-

example:-

df = pd.read_csv('data.csv')

grouped_df = df.groupby('A')['B'].mean()

print(grouped_df)

5- plot(): This function is used to create various types of plots, such as line plots, bar plots, and scatter plots, from a DataFrame. We can execute the following code to create a line plot of the ‘A’ column against the ‘B’ column in a DataFrame df:-

example:-

df = pd.read_csv('data.csv')

df.plot(x='B', y='A', kind='line')

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [33]:
# Ans:
import pandas as pd

df = pd.DataFrame({"A": [1,2,3,4],
                  "B": [5,6,7,8],
                  "C": [9,10,11,12]})

new_index = pd.Index(range(1, len(df) * 2, 2))
df = df.set_index(new_index)

print(df)

   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [36]:
# Ans:
import pandas as pd

df = pd.DataFrame({"Values": [10, 20, 30, 40, 50]})

sum_of_first_three = sum(df['Values'][:3])
print(f"The sum of the first three values in the 'Values' column is: {sum_of_first_three}")

The sum of the first three values in the 'Values' column is: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [12]:
# Ans:
import pandas as pd

df = pd.DataFrame({"Text" : ["This is my sample sentence", "My name is faheem", "This is my another sample", "Ahmad is my surname"]})

df["Word_Count"] = df["Text"].apply(lambda x: len(str(x).split()))

print(df)

                         Text  Word_Count
0  This is my sample sentence           5
1           My name is faheem           4
2   This is my another sample           5
3         Ahmad is my surname           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans: 
DataFrame.size() method returns the total number of elements in the DataFrame. It counts the number of rows multiplied by the number of columns. For example, if a DataFrame has 5 rows and 2 columns, the size() method will return 10.

DataFrame.shape() method returns a tuple representing the dimensionality of the DataFrame. It provides the number of rows and columns in the DataFrame. For example, if a DataFrame has 5 rows and 2 columns, the shape() method will return (5, 2).

In [13]:
# examples:-
import pandas as pd

df = pd.DataFrame({"A": [1,2,3,4,5], "B": [6,7,8,9,10]})
print(df.size)

10

In [14]:
# examples:-
import pandas as pd

df = pd.DataFrame({"A": [1,2,3,4,5], "B": [6,7,8,9,10]})
print(df.shape)

(5, 2)

Q6. Which function of pandas do we use to read an excel file?

Ans: To read an Excel file in Pandas, we use the read_excel() function.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [18]:
# Ans:

import pandas as pd

df = pd.DataFrame({"Email":["Alice@gmail.com", "Bob@yahoomail.com", "Claire@gmail.com"]})
df["Username"] = df["Email"].str.split('@').str[0]
                            
print(df)

               Email Username
0    Alice@gmail.com    Alice
1  Bob@yahoomail.com      Bob
2   Claire@gmail.com   Claire

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [24]:
# Ans: 
import pandas as pd

df = pd.DataFrame({'A': [3,8,6,2,9], 'B': [5,2,9,3,1], 'C': [1,7,4,5,2]})
selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [35]:
# Ans:
import pandas as pd

df = pd.DataFrame({"Values": [2,3,4,5,6,7,8,9]})
print("Mean:-\n", df.mean())
print("\n\nMedian:-\n", df.median())
print("\n\nstandard deviation:-\n", df.std())

Mean:-
 Values    5.5
dtype: float64


Median:-
 Values    5.5
dtype: float64


standard deviation:-
 Values    2.44949
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [40]:
# Ans:
import pandas as pd

data = {'Date': ['01-09-2023', '02-09-2023', '03-09-2023', '04-09-2023', '05-09-2023', '06-09-2023', '07-09-2023'],
        'Sales': [100, 110, 120, 130, 140, 150, 160]}
df = pd.DataFrame(data)

df['Date'] = pd.to_datetime(df['Date'],dayfirst= True)

# df = df.sort_values(by='Date')

df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

print(df)

        Date  Sales  MovingAverage
0 2023-09-01    100          100.0
1 2023-09-02    110          105.0
2 2023-09-03    120          110.0
3 2023-09-04    130          115.0
4 2023-09-05    140          120.0
5 2023-09-06    150          125.0
6 2023-09-07    160          130.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [48]:
# Ans:
import pandas as pd

df = pd.DataFrame({'Date': ['01-09-2023', '02-09-2023', '03-09-2023', '04-09-2023', '05-09-2023', '06-09-2023', '07-09-2023']})

df['Date'] = pd.to_datetime(df['Date'], yearfirst=True)

df['Weekday'] = df['Date'].dt.strftime('%A')

print(df)

        Date   Weekday
0 2023-01-09    Monday
1 2023-02-09  Thursday
2 2023-03-09  Thursday
3 2023-04-09    Sunday
4 2023-05-09   Tuesday
5 2023-06-09    Friday
6 2023-07-09    Sunday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [49]:
# Ans:
import pandas as pd

df = pd.DataFrame({'Date': ['2023-01-05', '2023-01-15', '2023-02-10', '2023-03-20']})

df['Date'] = pd.to_datetime(df['Date'])

start_date = '2023-01-01'
end_date = '2023-01-31'

selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

print(selected_rows)

        Date
0 2023-01-05
1 2023-01-15

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Ans:- To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the pandas library itself. We can import it using the following import statement:-

import pandas as pd