6 Feb Assignment-7

Only answers are written:---

In [1]:
# Ans:1

list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']


def test(list1):
    flat_list = []
    for i in list1:
        if type(i) == int:
            flat_list.append(i)
            
        elif type(i) == float:
            flat_list.append(i)
            
        elif type(i) == list:
            flat_list.extend(test(i))
            
        elif type(i) == tuple:
            flat_list.extend(i)
            
        elif type(i) == set:
            flat_list.extend(i)
            
        elif type(i) == dict:
            flat_list.extend(test(i.values()))
            flat_list.extend(test(i.keys()))
            
            
    return flat_list

In [2]:
test(list1)

[1,
 2,
 3,
 4,
 44,
 55,
 66,
 34,
 56,
 78,
 89,
 34,
 1,
 2,
 3,
 34,
 55,
 67,
 78,
 89,
 45,
 22,
 61,
 34,
 1,
 4,
 56]

I am not able to return the product of all the numbers after creating a flat list. Sir, please help me to know the further code .

Ans:2

Sir, I am not able to do this question